    <footer class="position-relative mt-5">
        <section class="container">
            <section class="row justify-content-between align-items-baseline">
                <section class="col-lg-4">
                    <section class="footer-logo border-bottom border-danger">
                        <img src="/static/img/Logo1-removebg-preview.png" alt="logo">
                    </section>
                    <section class="footer-info mt-3">
                        <p class="text-sm text-dark">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان
                            گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                        </p>
                    </section>
                    <section class="footer-media pt-3 d-flex justify-content-start">
                        <a href="mailto:yasamanbarati81@gmail.com"
                            class="text-white text-lg d-flex align-items-center mb-0 ms-3">
                            <img src="/static/img/email-svgrepo-com.svg" alt="email" class="border-radius-section">
                        </a>
                        <a href="http://www.linkedin.com/in/yasaman-barati-68a532225/"
                            class="text-white text-lg d-flex align-items-center mb-0 ms-3">
                            <img src="/static/img/linkedin-svgrepo-com.svg" alt="Linkedin" class="border-radius-section">
                        </a>
                        <a href="http://github.com/yasamanbarati"
                            class="text-white text-lg d-flex align-items-center mb-0 ms-3">
                            <img src="/static/img/whatsapp-svgrepo-com.svg" alt="whatsapp" class="border-radius-section">
                        </a>
                        <a href="http://github.com/yasamanbarati"
                            class="text-white text-lg d-flex align-items-center mb-0 ms-3">
                            <img src="/static/img/telegram-svgrepo-com.svg" alt="telegram" class="border-radius-section">
                        </a>
                    </section>
                </section>
                <section class="col-lg-3">
                    <section class="footer-link_title border-bottom border-danger">
                        <h2 class="text-dark text-2xl">لینک ها</h2>
                    </section>
                    <section class="footer-link">
                        <ul class="p-0 mt-3">
                            <li class="list-group mt-2">
                                <a href="Home.html" class="text-md text-dark">خانه</a>
                            </li>
                            <li class="list-group mt-2">
                                <a href="Home.html" class="text-md text-dark">خدمات ما</a>
                            </li>
                            <li class="list-group mt-2">
                                <a href="Home.html" class="text-md text-dark">تیم ما</a>
                            </li>
                            <li class="list-group mt-2">
                                <a href="Home.html" class="text-md text-dark">تست انلاین</a>
                            </li>
                        </ul>
                    </section>
                </section>
                <section class="col-3"></section>
            </section>
        </section>
        <img src="/static/img/GreenBlueBorder-1024x221.png" alt="cover" class="position-absolute w-100 footer_cover">
    </footer>