{% load render_partial %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% include 'shared/header_refrense.html' %}
    <link>{% block links %}{% endblock %}</link>
</head>

<body>
{% render_partial  'Home_module.views.site_header_component'%}
{% block content %}  {% endblock %}

    <section class="main top-0 position-absolute z-index-0">
        <section class="container h-100">
            <section class="owl-carousel main-slider h-100 mt-5">
                <section class="row justify-content-evenly align-items-center pt-5">
                    <section class="col-lg-4 pt-5 pt-lg-0  d-flex align-items-center">
                        <section>
                            <h2 class="text-4xl text-dark">بیماری، پزشک و سلامت</h2>
                            <p class="text-md text-dark">
                                بیماری به ناهنجاری در بدن یا روان می‌گویند که به علت ناراحتی، اختلال عملکرد یا تنش در بیمار یا سایر افراد مرتبط با او ایجاد می‌گردد.
                                 البته باید میان بیماری و سایر حالت‌ها پزشکی مانند خستگی، ضعف، کسالت و اندوه تفاوت قائل شد. 
                                هر بیماری با تعدادی علائم و نشانه‌های ویژه تشخیص داده می‌شود. تشخیص و درمان بیماری بر عهده پزشک است.
                            </p>
                        </section>
                    </section>
                    <section class="col-lg-4 main-img">
                        <img src="/static/img/image-3.webp" class="animated w-100 h-100" alt="">
                    </section>
                </section>
                <section class="row justify-content-evenly align-items-center pt-5">
                    <section class="col-lg-4 pt-5 pt-lg-0  d-flex align-items-center">
                        <section>
                            <h2 class="text-4xl text-dark">ورزش</h2>
                            <p class="text-md text-dark">
                                ورزش به تمامی گونه‌های فعالیت فیزیکی بدن گفته می‌شود که شرکت کنندگان آن می‌توانند 
                                به صورت منظم و سازمان یافته یا گاه به گاه در آن شرکت کنند و از آن برای بهبود
                                 تناسب اندامشان و تعادل روان و یا فراهم آوردن سرگرمی و تفریح بهره ببرند.
                            </p>
                        </section>
                    </section>
                    <section class="col-lg-4 main-img">
                        <img src="/static/img/Exercise.webp" class="animated w-100 h-100" alt="">
                    </section>
                </section>
                <section class="row justify-content-evenly align-items-center pt-5">
                    <section class="col-lg-4 pt-5 pt-lg-0  d-flex align-items-center">
                        <section>
                            <h2 class="text-4xl text-dark">تغذیه</h2>
                            <p class="text-md text-dark">
                                نیاز انسان به خوراک یکی از احتیاجات طبیعی یا فیزیولوژیک است که مهم‌ترین عامل بقای زندگی و طول عمر می‌باشد.
                                 احتیاج به خوراک دائمی است و ارگانیسم را مجبور می‌کند تا برای بدست آوردن خوراک و رفع گرسنگی کوشش کند.

                                تغذیه صحیح رشد را میسر می‌سازد، به تندرستی و طول عمر می‌انجامد و با تأثیر بر روی مغز و روان سبب رشد فکری می‌گردد،
                                
                                غذای انسان باید شامل پروتئینها، چربی‌ها، کربوهیدرات‌ها، مواد معدنی، ویتامین و آب باشد تا رشد و سلامت یاخته‌های بدن تأمین شود.
                            </p>
                        </section>
                    </section>
                    <section class="col-lg-4 main-img">
                        <img src="/static/img/Nutrition.png" class="animated w-100 h-100" alt="">
                    </section>
                </section>
            </section>
        </section>
        <svg class="main-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
                </path>
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
                </use>
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
                </use>
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
                </use>
            </g>
        </svg>
    </section>
</section>
<section class="services-box position-relative my-5">
    <section class="container">
        <section class="services-title text-center pb-5 position-relative">
            <h2 class="text-center text-4xl">خدمات ما</h2>
        </section>
        <section class="services-index row justify-content-between align-items-baseline pt-5">
            <section class="col-md-3 position-relative">
                <section class="services-step">
                    <section class="stap-img mx-auto">
                        <img src="/static/img/user-1.1s-200px.svg" alt="signUp svg"
                            class="d-flex justify-content-center align-items-center w-100 h-100">
                    </section>
                    <section class="stap-text">
                        <h3 class="d-flex justify-content-center align-items-center text-2xl mt-1">عضویت در سایت
                        </h3>
                        <p class="text-center text-md mt-2">با عضویت در سایت ما میتوانید از امکانات سایت جهت افزایش سلامت تغدیه،
                             کنترل و رسیدن به وزن دلخواه خود استفاده کنید.</p>
                    </section>
                </section>
            </section>
            <section class="col-md-3 position-relative">
                <section class="services-step">
                    <section class="stap-img mx-auto">
                        <img src="/static/img/exam-1.1s-200px.svg" alt="Started-Bitcoin"
                            class="d-flex justify-content-center align-items-center w-100 h-100">
                    </section>
                    <section class="stap-text">
                        <h3 class="d-flex justify-content-center align-items-center text-2xl mt-1">تست انلاین</h3>
                        <p class="text-center text-md mt-2">دادن این تست به ما کمک میکند بر اساس BMI(شاخص توده بدنی) و شرایط سلامتی شما،
                             ورزش و رژیم غذایی غنی و مفید مورد نیاز بدنتان را برایتان تهیه کنیم.</p>
                    </section>
                </section>
            </section>
            <section class="col-md-3 position-relative">
                <section class="services-step">
                    <section class="stap-img mx-auto">
                        <img src="/static/img/text-1.1s-200px.svg" alt="Started-Bitcoin"
                            class="d-flex justify-content-center align-items-center w-100 h-100">
                    </section>
                    <section class="stap-text">
                        <h3 class="d-flex justify-content-center align-items-center text-2xl mt-1">دربافت برنامه
                        </h3>
                        <p class="text-center text-md mt-2">شما پس از دادن تست انلاین برنامه‌ای منحصر به فرد
                             برای تغذیه و ورزش خود در اختیار خواهید داشت.</p>
                    </section>
                </section>
            </section>
        </section>
    </section>

</section>
<section class="test-box my-3">
    <section class="container h-100">
        <section class="row justify-content-between align-items-center h-100">
            <section class="col-4 pt-5">
                <section class="test-box-title">
                    <h2 class="mb-2 text-4xl position-relative">تست آنلاین</h2>
                </section>
                <section class="mt-4 test-box-info">
                    <p class="mb-0 text-darker text-md">
                        دادن این تست به ما کمک میکند بر اساس BMI(شاخص توده بدنی) و شرایط سلامتی شما،
                        ورزش و رژیم غذایی غنی و مفید مورد نیاز بدنتان را برایتان تهیه کنیم.
                    </p>
                </section>
                <section class="my-4">
                    <a href=""
                        class="d-inline-flex align-items-center btn btn-link text-md mb-0 text-decoration-none px-3 py-2 test-box-info-btn">شروع
                        تست
                        <i class="material-icons mx-2 text-lg">
                            keyboard_backspace
                        </i>
                    </a>
                </section>
            </section>
            <section class="test-box-imgBox col-5 h-100 position-relative">
                <section class="position-absolute test-box-img">
                    <img src="/static/img/medical-tests-for-term-insurance-policy-removebg-preview.png"
                        alt="test-online" class="w-100 h-100">
                </section>
            </section>
        </section>
    </section>
</section>

{% render_partial  'Home_module.views.site_footer_component'%}
</body>
{% include 'shared/footer_refrense.html' %}
</html>