    <link rel="stylesheet" href="/static/css/material-dashboard.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="/static/font/newFont.css">
    <link href="/static/css/style.css" rel="stylesheet">
