
    <footer class="position-relative mt-5">
        <section class="container">
            <section class="row justify-content-between align-items-end">
                <section class="col-lg-4">
                    <section class="footer-logo border-bottom border-danger">
                        <a class="z-index-1 w-100 h-100" href="{% url 'home_page' %}"><img class="w-55"
                                src="/static/img/Logo1-removebg-preview.png" alt="logo">
                        </a>
                    </section>
                    <section class="footer-info mt-3">
                        <p class="text-sm text-dark">
                        جهت دریافت اطلاعات بیشتر از طریق راه‌های زیر با کارشناسان ما در ارتباط باشید...
                        </p>
                    </section>
                    <section class="footer-media pt-3 d-flex justify-content-start">
                        <a href="mailto:yasamanbarati81@gmail.com"
                            class="text-white text-lg d-flex align-items-center mb-0 ms-3">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330.001 330.001"
                                style="enable-background:new 0 0 330.001 330.001;" xml:space="preserve" fill="#fb9faf">
                                <g id="XMLID_348_">
                                    <path id="XMLID_350_"
                                        d="M173.871,177.097c-2.641,1.936-5.756,2.903-8.87,2.903c-3.116,0-6.23-0.967-8.871-2.903L30,84.602
                                    L0.001,62.603L0,275.001c0.001,8.284,6.716,15,15,15L315.001,290c8.285,0,15-6.716,15-14.999V62.602l-30.001,22L173.871,177.097z" />
                                    <polygon id="XMLID_351_" points="165.001,146.4 310.087,40.001 19.911,40 	" />
                                </g>
                                <g>
                            </svg>

                        </a>
                        <a href="" class="text-white text-lg d-flex align-items-center mb-0 ms-3"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#fb9faf">
                                <path d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z" />
                                <path
                                    d="M33.5 22A11.5 11.5 0 1 0 33.5 45 11.5 11.5 0 1 0 33.5 22zM14.5 3A11.5 11.5 0 1 0 14.5 26 11.5 11.5 0 1 0 14.5 3z" />
                                <path fill="#fff"
                                    d="M24.602,36C18,36,15,32.699,15,30.199C15,28.898,15.898,28,17.199,28c2.801,0,2.102,4.102,7.402,4.102c2.699,0,4.199-1.5,4.199-3c0-0.902-0.402-1.902-2.199-2.402l-5.902-1.5C16,24,15.102,21.398,15.102,18.898c0-5.098,4.699-6.898,9.098-6.898C28.301,12,33,14.199,33,17.199c0,1.301-1,2.102-2.301,2.102c-2.398,0-2-3.402-6.801-3.402c-2.398,0-3.797,1.102-3.797,2.703c0,1.598,1.898,2.098,3.598,2.5l4.402,1C32.898,23.199,34,26,34,28.699C33.898,32.898,30.898,36,24.602,36z" />
                            </svg>
                        </a>
                    </section>
                </section>
                <section class="col-lg-3">
                    <section class="footer-link_title border-bottom border-danger">
                        <h2 class="text-dark text-2xl">لینک ها</h2>
                    </section>
                    <section class="footer-link">
                        <ul class="p-0 mt-3">
                            <li class="list-group mt-2">
                                <a href="{% url 'home_page' %}" class="text-md text-dark">خانه</a>
                            </li>
                            <li class="list-group mt-2">
                                <a href="#" class="text-md text-dark">خدمات ما</a>
                            </li>
                            <li class="list-group mt-2">
                                <a href="#" class="text-md text-dark">تیم ما</a>
                            </li>
                            <li class="list-group mt-2">
                                <a href="#" class="text-md text-dark">تست انلاین</a>
                            </li>
                        </ul>
                    </section>
                </section>
                <section class="col-3"></section>
            </section>
        </section>
        <img src="/static/img/GreenBlueBorder-1024x221.png" alt="cover" class="position-absolute w-100 footer_cover">
        <section class="w-100 d-flex justify-content-center align-items-center z-index-1 position-absolute mt-7">
            <span class="text-sm text-dark"> تمامی حقوق این سایت مختص به تیمslima_2022 می باشد</span>
        </section>
    </footer>