
{% extends 'shared/_layout.html' %}
{% block title %}
    تیم ما
{% endblock %}

{% block content %}
    <section class="our-team-info mt-7">
        <section class="container">
            <section class="our-team-title">
                <section class="test-box-title">
                    <h2 class="mb-2 text-4x1">تیم ما</h2>
                </section>
            </section>
            <section class="mt-4">
                {% for member in members %}
                    <section class="card shadow-dark border-0 mt-4">
                        <section class="row align-items-stretch member position-relative">
                            <section class="col-lg-4 profile-image z-index-1">
                                <img src="{{ member.avatar.url }}" class="w-100 h-100 border-radius-top-end-lg border-radius-bottom-end-lg" alt="profile">
                            </section>
                            <section class="member-info col-lg-6 mt-4 d-flex">
                                <section class="member-name position-relative w-45">
                                    <h2 class="pb-0 text-3xl">{{ member.name }}</h2>
                                    <h4 class="text-md">{{ member.responsibility.title }}</h4>
                                </section>
                                <section class="member-info-link d-flex justify-content-around">
                                    <section class="member-info-link-text">
                                        <p class="text-md mt-3">
                                            {{ member.short_descriptions }}
                                        </p>
                                    </section>

                                    <section class="footer-media pt-3 d-flex justify-content-start">
                                      <a href="{{ member.url_telegram }}"
                                       class="text-white text-lg d-flex align-items-center mb-0 ms-3"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="#fb9faf">
                                        <path d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z" />
                                        <path
                                                d="M33.5 22A11.5 11.5 0 1 0 33.5 45 11.5 11.5 0 1 0 33.5 22zM14.5 3A11.5 11.5 0 1 0 14.5 26 11.5 11.5 0 1 0 14.5 3z" />
                                        <path fill="#fff"
                                              d="M24.602,36C18,36,15,32.699,15,30.199C15,28.898,15.898,28,17.199,28c2.801,0,2.102,4.102,7.402,4.102c2.699,0,4.199-1.5,4.199-3c0-0.902-0.402-1.902-2.199-2.402l-5.902-1.5C16,24,15.102,21.398,15.102,18.898c0-5.098,4.699-6.898,9.098-6.898C28.301,12,33,14.199,33,17.199c0,1.301-1,2.102-2.301,2.102c-2.398,0-2-3.402-6.801-3.402c-2.398,0-3.797,1.102-3.797,2.703c0,1.598,1.898,2.098,3.598,2.5l4.402,1C32.898,23.199,34,26,34,28.699C33.898,32.898,30.898,36,24.602,36z" />
                                    </svg>
                                    </a>
                                    <a href="{{ member.url_telegram }}"
                                        class="text-white text-lg d-flex align-items-center mb-0 ms-3"><svg
                                            viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#fb9faf">
                                            <path
                                                d="M16 0.396c-8.839 0-16 7.167-16 16 0 7.073 4.584 13.068 10.937 15.183 0.803 0.151 1.093-0.344 1.093-0.772 0-0.38-0.009-1.385-0.015-2.719-4.453 0.964-5.391-2.151-5.391-2.151-0.729-1.844-1.781-2.339-1.781-2.339-1.448-0.989 0.115-0.968 0.115-0.968 1.604 0.109 2.448 1.645 2.448 1.645 1.427 2.448 3.744 1.74 4.661 1.328 0.14-1.031 0.557-1.74 1.011-2.135-3.552-0.401-7.287-1.776-7.287-7.907 0-1.751 0.62-3.177 1.645-4.297-0.177-0.401-0.719-2.031 0.141-4.235 0 0 1.339-0.427 4.4 1.641 1.281-0.355 2.641-0.532 4-0.541 1.36 0.009 2.719 0.187 4 0.541 3.043-2.068 4.381-1.641 4.381-1.641 0.859 2.204 0.317 3.833 0.161 4.235 1.015 1.12 1.635 2.547 1.635 4.297 0 6.145-3.74 7.5-7.296 7.891 0.556 0.479 1.077 1.464 1.077 2.959 0 2.14-0.020 3.864-0.020 4.385 0 0.416 0.28 0.916 1.104 0.755 6.4-2.093 10.979-8.093 10.979-15.156 0-8.833-7.161-16-16-16z" />
                                        </svg>
                                    </a>
                                        <a href="{{ member.url_whatsapp }}"
                                           class="text-white text-lg d-flex align-items-center mb-0 ms-3">
                                            <img src="/static/img/whatsapp-svgrepo-com.svg" alt="whatsapp"
                                                 class="border-radius-section">
                                        </a>
                                        <a href="{{ member.url_telegram }}"
                                           class="text-white text-lg d-flex align-items-center mb-0 ms-3">
                                            <img src="/static/img/telegram-svgrepo-com.svg" alt="telegram"
                                                 class="border-radius-section">
                                        </a>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                {% endfor %}
            </section>
        </section>
    </section>
{% endblock %}
