<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form action="{% url 'dissease_group' %}" method="post">
    {% csrf_token %}
        {% for disseas in dissease %}

            <input type="checkbox" id="{{ disseas.title }}" name="fav_language" value="{{ disseas.title }}" >
            <label for="{{ disseas.title }}">{{ disseas.title }}</label>
            <br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>
