<!DOCTYPE html>
<html>
<head>
	<title>Reset</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/static/css/material-dashboard.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/static/css/blk-design-system.min.css">
    <link rel="stylesheet" href="/static/font/newFont.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="/static/css/login&signUp.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body class="reset-page bg-white">
	<section class="container-fluid">
            {% if is_send %}
        <div class="row h-50" >
            <div class="col-sm-12 h-100 d-table" >
                <div class="card card-block d-table-cell align-middle" style="background: #FFFFFF">
                    <div class="alert alert-success" style="width: 300px; margin: 10px 600px 10px 10px;" role="alert">
                        لطفا بر روی لینک ارسال شده در ایمیل کلیک کنید.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
		<section class="register_form row justify-content-center align-items-center">	
			<section class="col-lg-4 col-md-6 col-sm-7 col-10 form-box d-flex flex-column justify-content-center mt-5 position-relative info-box">
				<section class="text-center my-2 logo mx-auto z-index-3">
					<img src="/static/img/Logo1-removebg-preview.png" alt="logo" class="w-100 h-100">
				</section>
				<form class="reset-password-form px-4 py-3 z-index-3" action="{% url 'forget_pass_page' %}" method="post">
					<h4 class="text-center mt-1 text-darker text-lg z-index-3">رمز عبور خود را بازنشانی کنید</h4>
                    {% csrf_token %}
					<section class="form-input text-right ">
						<label for="" class="text-lg text-darker pe-2">{{ forget_pass.email.label }} :</label>
						<span class="p-0 me-3"><i class="material-icons text-black-50">email</i></span>
						 {{ forget_pass.email }}
						<p class="my-2 pr-2 text-right z-index-3 text-black-50 text-md" style="color: #777">* 
							لطفا آدرس ایمیل خود را وارد کنید و ما پیوند بازنشانی رمز عبور را برای شما ارسال خواهیم کرد.
						</p>
					</section>
					<section class="mt-2 text-center"> 
						<button type="submit" class="btn btn-block text-lg register_form_submit d-flex justify-content-center">ارسال لینک بازنشانی</button>
					</section>
					<section class="register_formLogin text-center text-lg  my-3 text-darker mt-3 mb-4">
						از قبل رمز عبور دارید؟ 
						<a class="login-link text-darker text-md" href="{% url 'logIn_page' %}">از اینجا وارد شوید</a>
					</section>
				</form>
				</section> 
			</section>
		</section>
	</section>
</body>
</html>