
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/material-dashboard.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/blk-design-system.min.css">
    <link rel="stylesheet" href="/static/font/newFont.css"><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/static/css/login&signUp.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body class="signUp-page bg-white">
<section class="container-fluid">

    <section class="register_form row justify-content-center align-items-center">
        <section class="col-lg-4 col-md-7 col-sm-8 col-11 form-box d-flex flex-column justify-content-center position-relative info-box">
            <section class="text-center mt-4 logo mx-auto z-index-3">
                <img  src="/static/img/Logo1-removebg-preview.png" alt="logo"  class="w-100 h-100">
            </section>
            <h4 class="register_form_title text-center mt-1 text-darker text-2xl z-index-3">رمز عبور خود را بازنشانی کنید</h4>
            <form novalidate class="px-2 px-md-3 px-sm-3 px-lg-3 py-2 z-index-3" action="{% url 'reset_pass_page' user.email_active_code %}" method="post">
                {% csrf_token %}
                {% if reset_pass.password.errors %}
                    <span class="text-right" >
                    <div class="alert alert-danger" style=" padding: 2px 2px 0px 0px" role="alert">
                       {{ reset_pass.password.errors }}
                    </div></span>
                {% endif %}

                {% if reset_pass.comfirm_password.errors %}
                    <span class="text-right" >
                    <div class="alert alert-danger" style=" padding: 2px 2px 0px 0px" role="alert">
                       {{ reset_pass.comfirm_password.errors }}
                    </div></span>
                {% endif %}


                <section class="form-input text-right " >
                    <label class="text-lg text-darker pe-2">{{ reset_pass.password.label }} :</label>
                    <span class="p-0 me-3"><i class="material-icons text-black-50">password</i></span>
                    {{ reset_pass.password }}
                </section>
                <section class="form-input text-right ">
                    <label class="text-lg text-darker pe-2">{{ reset_pass.comfirm_password.label }} :</label>
                    <span class="p-0 me-3"><i class="material-icons text-black-50">password</i></span>
                    {{ reset_pass.comfirm_password }}
                </section>
                <section class="mt-2 text-center">
                    <button type="submit" class="btn btn-block text-lg register_form_submit d-flex justify-content-center">بازنشانی</button>
                </section>

                <section class="register_formLogin text-center text-lg  my-3 text-darker mt-3 mb-4">
                    از قبل رمز عبور دارید؟
                    <a class="login-link text-darker text-md" href="{% url 'logIn_page' %}">از اینجا وارد شوید</a>
                </section>

            </form>
        </section>
    </section>
</section>
</body>
</html>