:root {
    --bg-01: #ffa8b7;
    --bg-02: #7fc6da;
    --bg-03: #7fdac8;
    --bg-04:  linear-gradient(to right , #ffa8b7 , #7fc6da);
    --bg-light: #fff;
    --bg-dark: #000;
}
body {
    direction: rtl;
    background: transparent;
}
.register_form{
    height: 100vh;
}
.register_form_title{
    font-weight: 800;
}
.logo {
    height: 90px;
    width: 190px;
}
.title{
    color: var(--bg-dark);
}
.form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-box {
    border-radius: 100px 0px 100px 0px; /*1*/
    border: 5px solid var(--bg-02); /*2*/
    /* border-image: linear-gradient(to right , #ffa8b7 , #7fc6da);
    border-image-slice: 1; */
}

.form-box h4 {
    font-weight: 700;
}

.form-box .form-input {
    position: relative;
}

.form-box .form-input input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid var(--bg-02);
    border-radius: 40px;
    outline: none;
    color: var(--bg-dark);
    background: transparent;
    padding-left: 40px;
}

.form-box .form-input span {
    position: absolute;
    top: 42px;
    right: 0px;
}

.form-box .form-input input::placeholder {
    color: rgb(48, 47, 47) !important;
    padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid {
    border: 2px solid var(--bg-02);
}

.form-box .form-input input:focus::placeholder {
    color: var(--bg-dark);
}
.custom-control-label {
    color: var(--bg-dark);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--bg-01) !important;
    border: 0px;
}

.form-box button[type="submit"] {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(45deg, var(--bg-02), var(--bg-03));
    color: #fff;
    font-weight: 400;
    transition: 0.5s;
}


.forget-link,
.login-link,
.register-link {
    color: var(--bg-03) !important;
    font-weight: 600;
}

.forget-link:hover,
.login-link:hover,
.register-link:hover {
    color: var(--bg-01);
    text-decoration: none;
}
.form-input input::placeholder{
    font-weight: 400;
    color: rgb(225, 225, 225) !important;
}
.form-input label,
.custom-control-label
{
    color: var(--bg-dark);
    font-weight: 600 !important;
}
.register_form_submit:hover,
.register_form_submit:not(:disabled):not(.disabled).active,
.register_form_submit:not(:disabled):not(.disabled):active{
    background: linear-gradient(to right , var(--bg-01) , var(--bg-02)) !important;
}
.form-input p,
.register_form_submit,
.register_formLogin
{
    font-weight: 400;
    color: var(--bg-dark);
}
.custom-control-input{
    position: relative;
    opacity: 1;
    width: 18px;
    height: 18px;
}