:root {
  --bg-01: #fb9faf;
  --bg-02: #00bbd4d4;
  --bg-03: #c1e3c2;
  --bg-04: #20e3b2;
  --bg-05: #29ffc6;
  --bg-dark: #000;
  --bg-light: #fff;
}
body {
  font-family: Shabnam;
  direction: rtl;
}
a {
  text-decoration: none;
}
.head{
  height: 100vh;
}
.nav-item::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: white;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.01),0 3px 4px 0px #00bcd466!important;
  top: calc(0% + 33px);
  transition: 0.6s ease-in-out;
}
.nav-item:hover:after{
  width: 100%;
}
.nav-link ,
.footer-link_title h2{
  font-weight: 700;
}
.singUp-box{
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.01),0 5px 7px -3px #00bcd466!important;
}
.navbar_side_menu{
  display : none;
  left: 10px;
}
.modal-open{
  display: block;
}
.nav-menu span{
  font-size: 2.5rem !important;
}
.navbar-responsive-item a{
  font-weight: 600;
}
.menu_control_btn i{
  font-size: 2rem !important;
}
.main {
  left: 0px;
  right: 0px;
  height: 90vh;
}
.main-slider h2 {
  font-weight: 900;
}
.main-slider p {
  font-weight: 500;
}
.main .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.main-img {
  height: 420px;
}
.main-slider .owl-nav {
  position: absolute;
  top: 39%;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-slider .owl-nav button.owl-next,
.main-slider .owl-nav button.owl-prev {
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 0px #fcfcfc4e, -1px 0px 1px 1px #b1b1b1ab;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.main-slider .owl-nav button.owl-next span,
.main-slider .owl-nav button.owl-prev span {
  font-size: 30px;
}
.main-waves {
  display: block;
  width: 100%;
  height: 150px;
  z-index: -1;
  position: relative;
  background: linear-gradient(0deg, var(--bg-01) 0%, var(--bg-02) 100%);
  bottom: 30%;
    transform: rotate(180deg);
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

/* test-online */
.test-box {
  background-image: url(../img/white-wallpaper.jpg);
}
.test-box-info {
  border-bottom: 1px solid var(--bg-03);
}
.test-box-info h2::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 1px;
  top: 100%;
  background-color: var(--bg-01);
  z-index: 50;
}
.test-box-info-btn {
  background-color: var(--bg-01);
  color: var(--bg-dark);
}
.test-box-info-btn:hover {
  color: #000;
  transform: scale(1.03);
  background-color: rgb(255 168 183 / 0.7);
  border: 1px solid var(--bg-01);
}
.test-box-imgBox::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 10%;
  top: auto;
  bottom: -126px;
  left: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #e8e8e8;
}
.test-box-img {
  width: 300px;
  height: 300px;
  z-index: 10;
  left: 80px;
  top: -137px;
}
.footer_cover{
  height: 200px;
  transform: rotate(180deg);
}
.footer-logo img{
  width: 150px;
  height: 50px;
}
.footer-info p{
  font-weight: 500;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}