:root {
  --bg-01: #fb9faf;
  --bg-02: #00bbd4d4;
  --bg-03: #c1e3c2;
  --bg-04: #20e3b2;
  --bg-05: #29ffc6;
  --bg-dark: #00434c;
  --bg-light: #fff;
}
body {
  font-family: Vazir;
  direction: rtl;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--bg-dark);
}
a {
  text-decoration: none;
}
.nav-item::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: white;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.01), 0 3px 4px 0px #00bcd466 !important;
  top: calc(0% + 33px);
  transition: 0.6s ease-in-out;
}
.nav-item:hover:after {
  width: 100%;
}
.nav-link,
.footer-link_title h2 {
  font-weight: 600;
}
.singUp-box {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.01), 0 5px 7px -3px #00bcd466 !important;
}
.navbar_side_menu {
  display: none;
  left: 10px;
}
.modal-open {
  display: block;
}
.nav-menu span {
  font-size: 2.5rem !important;
}
.navbar-responsive-item a {
  font-weight: 600;
}
.menu_control_btn i {
  font-size: 2rem !important;
}
.main {
  left: 0px;
  right: 0px;
  height: 90vh;
}
.main-slider h2 {
  font-weight: 800;
}
.main-slider p {
  font-weight: 400;
}
.main .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.main-img {
  height: 420px;
}
.main-slider .owl-nav {
  position: absolute;
  top: 39%;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-slider .owl-nav button.owl-next,
.main-slider .owl-nav button.owl-prev {
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 0px #fcfcfc4e, -1px 0px 1px 1px #b1b1b1ab;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.main-slider .owl-nav button.owl-next span,
.main-slider .owl-nav button.owl-prev span {
  font-size: 30px;
}
.process-title h2 {
  font-weight: 800;
}
.stap-img {
  width: 150px;
  height: 150px;
}
.stap-text h3 {
  font-weight: 600;
}
.stap-text p {
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.process-index .col-md-3::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 64px;
  bottom: 100%;
  right: 75%;
  background: url(../img/process-line.png) no-repeat scroll 0 0 / cover;
}
.process-index .col-md-3:last-child::after {
  display: none;
}
/* test-online */
.test-box {
  background-image: url(../img/white-wallpaper.jpg);
  height: 400px;
}
.test-box-title {
  border-bottom: 3.5px solid var(--bg-03);
}
.test-box-title h2,
.our-team-title h2 {
  color: var(--bg-dark);
  font-weight: 800;
}
.test-box-title h2::before {
  position: absolute;
  content: "";
  width: 130px;
  height: 3px;
  top: 47px;
  background-color: var(--bg-01);
  z-index: 50;
}
.test-box-info p {
  font-weight: 400;
}
.test-box-info-btn {
  font-weight: 600;
  background-color: var(--bg-01);
  color: var(--bg-light);
}
.test-box-info-btn:hover {
  color: var(--bg-dark);
  transform: scale(1.01);
  background-color: transparent;
  border: 0.125rem solid var(--bg-01);
  font-weight: 600;
}
.test-box-imgBox::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 10%;
  top: 20px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #e8e8e8;
}
.test-box-img {
  width: 320px;
  height: 320px;
  z-index: 10;
  left: 80px;
  top: 60px;
}
.team-content h2 {
  font-weight: 800;
}
.team-content h3 {
  font-weight: 600;
}
.team .team-img {
  position: relative;
  font-size: 0;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}
.team-img img {
  width: 260px !important;
  height: 260px !important;
  border-radius: 100%;
  border: 10px solid var(--bs-gray-100);
  transition: all 0.7s ease-in-out;
}
.team:hover .team-img img {
  border: 0px solid var(--bs-gray-100);
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--bg-01);
}
/* about us */  
.about-team-box p{
  font-weight: 600;
}
.about-team-box h2::before{
  width: 65px;
}
.about-info-list li{
  list-style: disc;
}
.our-services img{
  width: 160px;
  height: 160px;
}
.footer_cover {
  height: 200px;
  transform: rotate(180deg);
}
.footer-logo img {
  width: 150px;
  height: 50px;
}
.footer-info p {
  font-weight: 600;
}
.footer-media a img {
  width: 40px;
  height: 40px;
}
.footer-link_title h2 {
  font-weight: 800;
}
.footer-link ul li a {
  font-weight: 600;
}
.member::after{
  position: absolute;
  content: "";
  width: 65%;
  height: 2px;
  background: var(--bg-01);
  left: 10px;
  top: 99px;
  z-index: 0;
}
.member-info{
  flex-direction: column;
}
.member-name {
  border-bottom: 4px solid var(--bg-03);
}
.member-name h2,
.member-name h4{
  font-weight: 800;
}
.member-name h4{
  color: var(--bg-01);
}
.member-icon{
  color: var(--bg-03);
}
.member-info-link {
  flex-direction: column;
  height: 65%;
}
.member-info-link-text h3,
.member-info-link-text p{
font-weight: 600;
}
.profile-image{
  height: 380px;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
