@media only screen and (max-width:1200px){
    .logo{
        height: 57px;
        width: 180px;
    }
    .text-lg{
        font-size: 1.05rem!important;
    }   
    .text-md{
        font-size: 0.94rem!important;
    }
    .text-sm{
        font-size: .84rem!important;
    }
}
@media only screen and (max-width:1100px){
    .logo{
        height: 55px;
        width: 170px;
    }
     .text-lg{
        font-size: 0.98rem!important;
    }   
    .text-md{
        font-size: 0.88rem!important;
    }   
    .text-2xl{
        font-size: 1.46rem;
    }
    .text-sm{
        font-size: .8rem!important;
    }
}
@media only screen and (max-width:992px){
    .logo{
        height: 51px;
        width: 160px;
    }
    .text-lg{
        font-size: 0.91rem!important;
    }   
    .text-md{
        font-size: 0.8rem!important;
    }
    .text-2xl{
        font-size: 1.4rem;
    }
    .text-sm{
        font-size: .78rem!important;
    }
}
@media only screen and (max-width:768px){
    .logo{
        height: 48px;
        width: 153px;
    }    
    .text-lg{
        font-size: 0.88rem!important;
    }
    .text-md{
        font-size: 0.76rem!important;
    }
    .text-2xl{
        font-size: 1.35rem;
    }
    .text-sm{
        font-size: .76rem!important;
    }
}
@media only screen and (max-width:576px){
    .logo{
        height: 45px;
        width: 148px;
    }    
    .text-lg{
        font-size: 0.91rem!important;
    }
    .text-md{
        font-size: 0.8rem!important;
    }
    .text-2xl{
        font-size: 1.3rem;
    }
    .text-sm{
        font-size: .77rem!important;
    }
}
@media only screen and (max-width:410px){
    .logo{
        height: 43px;
        width: 130px;
    }  
    .text-lg{
        font-size: 0.84rem!important;
    }
    .text-md{
        font-size: 0.71rem!important;
    }
    .text-2xl{
        font-size: 1.1rem;
    }
    .text-sm{
        font-size: .72rem!important;
    }
    .text-xs{
        font-size: .72rem!important;
    }
}
@media only screen and (max-width:300px){
    .logo {
        height: 40px;
        width: 115px;
    }
    .text-lg{
        font-size: 0.8rem!important;
    }
    .text-md{
        font-size: 0.68rem!important;
    }
    .text-2xl{
        font-size: 1.05rem;
    }
    .text-sm {
        font-size: .7rem!important;
    }
    .signUp-page .col-4{
        padding-right: 12px !important;
        padding-left: 12px !important;
    }
}