* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --bg-01: #ffa8b7;
    --bg-02: #7fc6da;
    --bg-03: #a9c97b;
    --bg-04: linear-gradient(to right, #ffa8b7, #7fc6da);
    --bg-light: #fff;
    --bg-dark: #000;
}

body {
    font-size: 14px;
    margin: 0;
    color: #999;
    background-color: #f6f5f0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.test{
    height: 100vh;
}
.test_step_img {
    width: 70px;
    height: 70px;
}
.bg-img,
.bg--img {
    width: 300px;
    height: 300px;
    bottom: 0px;
    right: -25px;
}
.bg--img {
    left: 150px;
    bottom: 40px;
}
#stepOne h3,
#stepTwo h3 {
    font-weight: 800;
}
.test-online::after .test-online::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background: var(--bg-01);
    top: 15px;
    left: auto;
    margin-left: 10px;
}
.test-online::before {
}
textarea {
    resize: none;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
select option[value=""][disabled] {
    display: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
}

.wrapper {
    width: 826px;
    height: 620px;
    padding: 63px 90px 0;
    background: #fff;
}

.wizard {
    position: relative;
}

.steps .current-info,
.steps .number {
    display: none;
}
#woman,
#man {
    font-weight: 600;
}
.steps ul li {
    margin-right: 10.8%;
    position: relative;
}
.steps ul li:last-child {
    margin-right: 0;
}
.steps ul li .step-arrow {
    position: absolute;
    top: 33%;
    left: 113%;
    max-width: 57%;
}
.steps ul li .step-order {
    font-weight: 400;
}
.form-row .form-group {
    width: 50%;
    display: flex;
}
.form-holder input::placeholder {
    font-weight: 600;
}
.form-holder label,
label {
    font-weight: 600;
}
.form-control {
    height: 40px;
    background: none;
}
.form-control::placeholder {
    font-size: 0.7rem;
    color: #8a8a8a;
    font-weight: 600;
}
.form-control:focus,
.form-control:valid {
    border: 1px solid var(--bg-03);
}
.form-control:focus {
    border: 1.5px solid var(--bg-03);
    outline: 0;
    box-shadow: 0px 2px 5px 0px #b2e9de;
}
.actions li {
    background: var(--bg-03);
    width: 150px;
    height: 55px;
    transition: 0.7s ease-in-out;
}
.actions li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.actions li:hover {
    background: var(--bg-01);
}
input[type="radio"],
input[type="checkbox"] {
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
    height: 12px;
    width: 12px;
    margin-right: 2px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid var(--bg-03);
}
input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
    background: var(--bg-03);
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type="radio"] + label:before {
    border-radius: 50%;
}
input[type="checkbox"] + label:before {
    border-radius: 2px;
}
.dropdown-menu {
    inset: 25px auto auto 36px !important;
}
#myDropdown span{
    
}