@font-face{
    font-family: Vazir;
    font-style: normal;
    font-weight: 800;
    src: url('font/Vazir-Bold-FD.eot');
    src: url('font/Vazir-Bold-FD.eot') format('mbedded-opentype'),
         url('font/Vazir-Bold-FD.woff') format('woff'),
         url('font/Vazir-Bold-FD.ttf') format('truetype');
}
@font-face{
    font-family: Vazir;
    font-style: normal;
    font-weight: 600;
    src: url('font/Vazir-Medium-FD.eot');
    src: url('font/Vazir-Medium-FD.eot') format('mbedded-opentype'),
         url('font/Vazir-Medium-FD.woff') format('woff'),
         url('font/Vazir-Medium-FD.ttf') format('truetype');
}
@font-face{
    font-family: Vazir;
    font-style: normal;
    font-weight: 400;
    src: url('font/Vazir-FD.eot');
    src: url('font/Vazir-FD.eot') format('mbedded-opentype'),
         url('font/Vazir-FD.woff') format('woff'),
         url('font/Vazir-FD.ttf') format('truetype');
}
@font-face{
    font-family: Vazir;
    font-style: normal;
    font-weight: 300;
    src: url('font/Vazir-Light-FD.eot');
    src: url('font/Vazir-Light-FD.eot') format('mbedded-opentype'),
         url('font/Vazir-Light-FD.woff') format('woff'),
         url('font/Vazir-Light-FD.ttf') format('truetype');
}