<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <div class="message-light">
                                        <div class="massege-light-send">
                                            برای ایمیل {{ user.email }} یک ایمیل ارسال شده

                                        </div>
                                        <div class="account-box-verify-content">
                                            <div class="form-account">
                                                <div class="form-account-title">جهت فعال سازی حساب کاربری خود و ادامه ثبت نام روی لینک ارسال شده کلیک کنید <div>

                                               </div>
                                            </div>
                                        </div>

                                        <div class="account-footer">
                                            <div class="account-footer">
                                                <div class="form-row-account">
                                                    <button class="btn btn-primary btn-login">ثبت‌نام در دیجی‌اسمارت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
        </div>
    </div>
</div>