
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/material-dashboard.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/blk-design-system.min.css">
    <link rel="stylesheet" href="/static/font/newFont.css"><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/static/css/login&signUp.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body class="signUp-page bg-white">
<section class="container-fluid">
    <section class="register_form row justify-content-center align-items-center">
        <section class="col-lg-4 col-md-7 col-sm-8 col-11 form-box d-flex flex-column justify-content-center position-relative info-box">
            <section class="text-center mt-4 logo mx-auto z-index-3">
                <a class="z-index-1 w-100 h-100" href="Home.html"><img class="w-100 h-100"
                                                                       src="/static/img/Logo1-removebg-preview.png" alt="logo">
                </a>
            </section>
            <h4 class="register_form_title text-center mt-4 title z-index-3 text-darker text-2xl">
                یک حساب کاربری ایجاد کنید
            </h4>
            <form novalidate class="px-2 px-md-3 px-sm-3 px-lg-3 py-2 z-index-3" action="{% url 'register_page' %}" method="post">
                {% csrf_token %}

                {% if register_form.email.errors %}
                    <span class="text-right" >
                    <div class="alert alert-danger" style=" padding: 2px 2px 0px 0px" role="alert">
                        {{ register_form.email.errors }}
                    </div></span>
                {% endif %}
                {% if register_form.password.errors %}
                    <span class="text-right" >
                    <div class="alert alert-danger" style=" padding: 2px 2px 0px 0px" role="alert">
                        {{ register_form.password.errors }}
                    </div></span>
                {% endif %}
                {% if register_form.comfirm_password.errors %}
                    <span class="text-right" >
                    <div class="alert alert-danger" style=" padding: 2px 2px 0px 0px" role="alert">
                        {{ register_form.comfirm_password.errors }}
                    </div></span>
                {% endif %}

                <section class="form-input text-right ">
                    <label class="text-lg text-darker pe-2">{{ register_form.email.label }} :</label>
                    <span class="p-0 me-3"><i class="material-icons text-black-50">email</i></span>
                    {{ register_form.email }}
                     {% if register_form.email.errors %}

                {% endif %}
                </section>

                <section class="form-input text-right " >
                    <label class="text-lg text-darker pe-2">{{ register_form.password.label }} :</label>
                    <span class="p-0 me-3"><i class="material-icons text-black-50">password</i></span>
                    {{ register_form.password }}
                </section>


                <section class="form-input text-right ">
                    <label class="text-lg text-darker pe-2">{{ register_form.comfirm_password.label }} :</label>
                    <span class="p-0 me-3"><i class="material-icons text-black-50">password</i></span>
                    {{ register_form.comfirm_password }}
                </section>

                <section class="mt-4">
                    <button type="submit" class="btn btn-block text-lg register_form_submit">
                        ثبت نام
                    </button>
                </section>
                <section class="d-flex justify-content-center align-items-center">
                    <p class="register_formLogin text-center text-lg  mb-0 text-darker">
                        قبلاً یک حساب کاربری دارید؟ </p>
                    <a class="register-link text-darker text-md me-2" href="{% url 'logIn_page' %}"   >از اینجا وارد شوید</a>
                </section>

                <section class="d-flex justify-content-center align-items-center">
                    <p class="register_formLogin text-center text-lg  mb-0 text-darker">
                        حساب گوگل دارید؟ </p>
                    <a class="register-link text-darker text-md me-2" href="{% url 'social:begin' 'google-oauth2' %}"   >از اینجا وارد شوید</a>
                </section>
            </form>
        </section>
    </section>
</section>
</body>
</html>